node-red/flows/opc-ua-simulator-mqtt.json
[
  {
    "id": "7f3a9e2c1d4b5680",
    "type": "tab",
    "label": "OPC UA simulator → MQTT",
    "disabled": false,
    "info": "Simulates OPC UA tag reads and publishes JSON to the broker. Import into Node-RED (Menu → Import). See ../README.md."
  },
  {
    "id": "8a4b2c1d0e9f6780",
    "type": "mqtt-broker",
    "name": "factory-mqtt",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-opc-sim",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "9e0f1a2b3c4d5e6f",
    "type": "inject",
    "z": "7f3a9e2c1d4b5680",
    "name": "line 1 tick 2s",
    "props": [{ "p": "payload" }],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 120,
    "wires": [["2e0f1a2b3c4d5e6b"]]
  },
  {
    "id": "1e0f1a2b3c4d5e6a",
    "type": "inject",
    "z": "7f3a9e2c1d4b5680",
    "name": "line 2 tick 2.5s",
    "props": [{ "p": "payload" }],
    "repeat": "2.5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 240,
    "wires": [["3e0f1a2b3c4d5e6c"]]
  },
  {
    "id": "2e0f1a2b3c4d5e6b",
    "type": "function",
    "z": "7f3a9e2c1d4b5680",
    "name": "OPC read → line 1",
    "func": "const lineId = 1;\nconst topicPrefix = \"factory\";\nconst tags = [\n  { tag: \"motor_rpm\", base: 1750, noise: 45 },\n  { tag: \"line_pressure_bar\", base: 6.2, noise: 0.25 },\n  { tag: \"temperature_c\", base: 42, noise: 1.8 }\n];\nconst t = tags[Math.floor(Math.random() * tags.length)];\nconst value = t.base + (Math.random() - 0.5) * 2 * t.noise;\nconst bad = Math.random() < 0.02;\nconst quality = bad ? 0 : 192;\nmsg.topic = `${topicPrefix}/line/${lineId}/telemetry`;\nmsg.payload = JSON.stringify({\n  tag: t.tag,\n  value: bad ? null : Math.round(value * 100) / 100,\n  quality,\n  source_ts: new Date().toISOString(),\n  metadata: { source: \"node-red-opc-sim\", line: lineId }\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 120,
    "wires": [["4e0f1a2b3c4d5e6d"]]
  },
  {
    "id": "3e0f1a2b3c4d5e6c",
    "type": "function",
    "z": "7f3a9e2c1d4b5680",
    "name": "OPC read → line 2",
    "func": "const lineId = 2;\nconst topicPrefix = \"factory\";\nconst tags = [\n  { tag: \"motor_rpm\", base: 1680, noise: 40 },\n  { tag: \"line_pressure_bar\", base: 5.9, noise: 0.2 },\n  { tag: \"temperature_c\", base: 38, noise: 2.1 }\n];\nconst t = tags[Math.floor(Math.random() * tags.length)];\nconst value = t.base + (Math.random() - 0.5) * 2 * t.noise;\nconst bad = Math.random() < 0.02;\nconst quality = bad ? 0 : 192;\nmsg.topic = `${topicPrefix}/line/${lineId}/telemetry`;\nmsg.payload = JSON.stringify({\n  tag: t.tag,\n  value: bad ? null : Math.round(value * 100) / 100,\n  quality,\n  source_ts: new Date().toISOString(),\n  metadata: { source: \"node-red-opc-sim\", line: lineId }\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [["4e0f1a2b3c4d5e6d"]]
  },
  {
    "id": "4e0f1a2b3c4d5e6d",
    "type": "mqtt out",
    "z": "7f3a9e2c1d4b5680",
    "name": "publish telemetry",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correlData": "",
    "expiry": "",
    "broker": "8a4b2c1d0e9f6780",
    "x": 640,
    "y": 180,
    "wires": []
  }
]
